__pycache__/
build/
dist/
.ipynb_checkpoints
.vscode/
.snakemake/

tmp/
outputs*/
results*/
data/*
!data/example_dataset
!data/homfam/get_homfam.sh
configs/*
!data/default.json
!data/benchmark_all.json

