__pycache__/
build/
dist/
.ipynb_checkpoints
.vscode/
.snakemake/

tmp/
outputs*/
results*/
# Ignore everything under data/
data/*
# Allow directory traversal into these subfolders
!data/homfam/
!data/ext_homfam/
!data/example_dataset/
!data/example_dataset/ext_homfam_huge/
!data/example_dataset/ext_homfam_large/
!data/example_dataset/ext_homfam_medium/
!data/example_dataset/ext_homfam_small/
!data/example_dataset/ext_homfam_xlarge/
# Ignore everything else inside these subfolders
data/homfam/*
data/ext_homfam/*
# Allow only the specific files
!data/homfam/get_homfam.sh
!data/ext_homfam/get_ext_homfam.sh
!data/ext_homfam/uniquify.py
configs/*
!configs/default.json
!configs/all.json
!configs/learnMSA.json
!configs/all_huge.json
!configs/learnMSA_huge.json
profiles/
slurm/
