[submodule "FastSP"]
	path = FastSP
	url = https://github.com/smirarab/FastSP
[submodule "3DUtil"]
	path = 3DUtil
	url = https://github.com/felbecker/3DUtil
[submodule "pylddt"]
	path = pylddt
	url = https://github.com/rcedgar/pylddt
