__pycache__/
build/
dist/
.ipynb_checkpoints
.vscode/
.snakemake/

tmp/
outputs*/
results*/
data/*
!data/example_dataset
!data/homfam/get_homfam.sh
!data/ext_homfam/get_ext_homfam.sh
!data/ext_homfam/uniquify.py
configs/*
!configs/default.json
!configs/all.json
!configs/learnMSA.json
!configs/all_huge.json
!configs/learnMSA_huge.json
profiles/
slurm/
